<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-dark white">
	<div class="container">
		<section class="footer-bottom row">
			<div class="col-sm-6"> 
				<p> Desarrollado por: <br> Camilo Bastidas</p>
			</div>
			<div class="col-sm-6">
				<p class="text-sm-right">
Copyright &copy 2019 <br>

				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->