<!-- ========================= SECTION INTRO ========================= -->
<section class="section-intro bg-secondary text-white text-center">
<div class="container d-flex flex-column"  style="min-height:80vh;">

<div class="row mt-auto">
    <div class="col-lg-8 col-sm-12 text-center mx-auto">
        <h1 class="display-3 mb-3">Ingresa una palabra clave</h1>
        <p class="lead mb-5">Nosotros nos encargamos del resto</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12 mx-auto text-center">
        <form class="form-noborder">
            <div class="form-row mb-5">
                <div class="col-lg-6 col-sm-12 form-group">
                    <input class="form-control form-control-lg" placeholder="¿Qué quieres buscar?" type="text">
                </div>
                <div class="col-lg-3 col-sm-12 form-group">
                    <select class="custom-select form-control-lg">
                    	<option> Categorias </option>
                    	<option> Category name </option>
                    	<option> Category name </option>
                    	<option> Category name </option>
                    </select>
                </div>
                <div class="col-lg-3 col-sm-12 form-group">
                    <button class="btn btn-warning btn-block btn-lg" type="submit">Buscar</button>
                </div>
            </div>
        </form>
       <!-- <p class="small">Cempus amet donec, egestas pulvinar amet semper accusamus commod</p>-->
        <ul class="list-inline my-5">
            <li class="list-inline-item">
                <a class="h4 text-light p-2" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="h4 text-light p-2" href="#">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="h4 text-light p-2" href="#">
                    <i class="fab fa-dribbble"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="h4 text-light p-2" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div> <!-- col.// -->
</div> <!-- row.// -->

</div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">
        <header class="section-heading">
            <h2>Section name</h2>
        </header><!-- sect-heading -->

        <article>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->