<!-- ========================= SECTION INTRO ========================= -->
<div class="section-intro bg-secondary text-white" id="content-wrapper">
    <div class="container-section" >
        <div class="row container-title">
            <div class="col-md-6 col-lg-8 col-sm-12 text-center ">
                <p class="title-section">Plataforma electrónica</p>
            </div>
        </div>   
        <div class="row ">
            <div class=" col-md-6 col-lg-8 col-sm-12 ">
                <p class="p-section ">Cempus amet donec, egestas pulvinar amet semper accusamus commod</p>
            </div>
        </div>
        <div class="row search-form">
            <div class="col-md-8">
                <form class="form-noborder">
                    <div class="col-lg-8 col-sm-12 form-group">
                        <input class="form-control form-control-lg" placeholder="¿Qué quieres buscar?" type="text">
                    </div>
                    <div class="col-md-6    ">
                        <div class="col-lg-4 col-sm-12 form-group">
                            <button class="btn btn-warning btn-block btn-lg" type="submit">Buscar</button>
                        </div>
                    </div>    
                </form>
            </div> 
        </div>       
        <!--<div class="row search-btn">
            <div class="col-md-12">     
                <div class="col-lg-12 col-sm-12 form-group">
                    <button class="btn btn-warning btn-block btn-lg" type="submit">Buscar</button>
                </div>
            </div>
        </div>-->
    </div>
</div>