<div class="row">
    <div class="col-xs-12">
        <%= render "navbar" %>  
        <%= render "carrousel" %>  
    </div>
</div>  

product.sku, product.state, product.stock, product.purchase_price, product.sale_price

"SKU", "Estado", "Stock", "Precio_Compra", "Precio_Venta
