<html>
    <body>
        <div class="row container-row">
            <div class="col-md-12">
                <div class="content">
                    <%= render "navbar" %>
                    <%= yield %>
                </div>  
            </div>         
        </div>        
    </body>
</html>