<html>
    <body>
     
                <div class="content">
                    <%= render "./welcome/navbar" %>
                    <%= render "categories" %>
                    <%= yield %>
                </div>  
         
    </body>
</html>