
html, body, label{
  font-family: 'Montserrat-Regular';
}

a:hover {
  text-decoration: none;
}

/* ================= NAVBAR WELCOME INDEX============== */
  .navbar{
    background:rgba(0,0,0,.8) !important;
    font-size: 0.9em;
    padding-left: 8%;
    padding-right: 8%;
  }

  .navbar-brand{
    margin-right: 3%;
  }

  .icon-cart{
    font-size: 2em;
  }

  .bar-transparent{
    color: #0288d1;
  }

  a.text-menu{
    color: white;
  }

  .input-group{
    width: 100%;
  }

  .search-input{
    border: 1.2px solid #0288d1;
    border-right: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-position: 100% center;
    text-align: center;
    color: white;
  }

  .btn-search{
    background-color: #0288d1;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-position: 100% center;
    color: white;
  }

  .custom-select{
    border-top: 1px solid #0288d1;
    border-bottom: 1px solid #0288d1;
  }

  .btn-shopping-cart{
    font-size: 28px;
    color: white
  }

  .btn-shopping-cart:hover{
    background-color: #0288d1;
    color:white;
    border-radius: 100px;
  }

  /* ================= CARROUSEL MAIN WELCOME INDEX============== */

  #background-carousel{
    position: absolute;
  }

  .carousel-control-prev{
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    color: white;
    background-color:rgba(243, 243, 243, 0.418) !important;
    margin: auto;
    margin-left: 8%;
  }

  .carousel-control-next{
    width: 3em;
    height: 3em;
    border-radius: 100px;
    color: white;
    background-color: rgba(243, 243, 243, 0.418) !important;
    margin: auto;
    margin-right: 8%;
  }

  .carousel-control-prev:hover, .carousel-control-next:hover{
    background-color: #0288d1 !important;
  }


  .bg-secondary{
    background-color: transparent !important;
  }

  /* ================= SECTION WELCOME INDEX============== */

  .container-title{
    margin-top: 5%;
  }
  .container-section{
    text-align: center
  }

  .btn-sm{
    border-radius: 0%;
  }

  .btn-info{
    background: #0288d1;
  }

  .btn-cart{
    background: #fbc02d;
  }

  #products-card{
    margin: 10px;
  }

/*====================================SIGN-UP-FORM============================*/

.sign-up-container, .sign-in-container{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%; 
  margin-left:10%;
}

.sign-up-form, .sign-in-form{
  margin-left:8%;
  margin-right:8%;
  margin-top: 12%;
  margin-bottom: 10%;
}

.title-sign-up, .title-sign-in{
  margin-bottom: 20%;
  text-align: center;
}

.input-signup{
  border-left: none;
  border-right: none;
  border-top: none;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid #0289d148;;
}

.remember_me{
  text-align: center;
}

.input-signup:hover{
  border-bottom: 1px solid #0288d1;
}

.btn-signup{
  background-color: #0288d1;
  color: white;
  border: none;
  border-radius: 5px;
  padding:10px;
  width: 100%;
  margin-top: 5%;
  font-size: 0.85em;
}

.btn-signup-facebook{
  background-color: white;
  color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 5px;
  padding:10px;
  width: 100%;
  margin-top: 5%;
  font-size: 0.85em;
  text-decoration: none;
}

.btn-signup-facebook:hover{
  color: white;
  background-color: #3578e5;
}

.container-return-login, .container-return-signup{
  text-align: center;
  font-size: 0.9em;
}

hr {
  border:none;
  background-color: rgba(112, 111, 111, 0.404);
  color: rgba(112, 111, 111, 0.404);
  height: 1px;
  width: 100%;
}

label{
  color: gray;
}

/*====================================PRODUCTS============================*/

.container-products{
  margin-top:5%;
  margin-right:5%;
  margin-left: 5%; 
}

.title-products{
  margin-bottom: 2%;
}

.container-button-newproduct{
  margin-bottom: 4%;
}

.thead-border{
  border-radius: 10px;
}

.btn-new-product{
  background-color: #0288d1;
  color: white !important;
  border: #0288d1 solid 1px;
  border-radius: 5px;
  padding:10px;
  width: 100%;
  margin-top: 5%;
  font-size: 0.85em;
}

.btn-new-product:hover{
  background-color: white;
  color: #0288d1 !important;
  border: #0288d1 solid 1px;
}

.btn-excel{
  background-color: #1D6F42;
  color: white !important;
  border: #1D6F42 solid 1px;
  border-radius: 5px;
  padding:10px;
  width: 100%;
  margin-top: 5%;
  font-size: 0.85em;
}

.btn-excel:hover{
  background-color: white;
  color: #1D6F42 !important;
  border: #1D6F42 solid 1px;
}
.btn-generate-pdf{
  background-color: white;
  color:#0288d1 !important;
  border: #0288d1 solid 1px;
  border-radius: 5px;
  padding:10px;
  width: 100%;
  margin-top: 5%;
  font-size: 0.85em;
}

.edit-product, .delete-product{
  color: grey;
  font-size: 20px;
}


/*===================================SIDEBAR DASHBOARD STYLE============================== */

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #0288d1;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #0288d1;
  text-align: center;
}

.dashboard{
  font-size: 1.5em;
  text-align: center; 
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #0288d1;
  background: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}


/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
  }
  #sidebar.active {
      margin-left: 0;
      transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
  }
  #sidebarCollapse.active span {
      margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
  }

}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


ul.ui-autocomplete{
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  background-color: #fff;
  border-top: solid 1px #DDD;
  margin: 0;
  padding: 0;
  color: #0288d1;
  display: block;
  padding: 3px;
}