html, body{
  font-family: 'Montserrat-Regular';
}
/* ================= NAVBAR WELCOME INDEX============== */

  .navbar{
    background:rgba(0,0,0,.8) !important;
  }

  .navbar-brand{
    margin-left: 1%;
    margin-right: 3%;
  }

  .icon-cart{
    font-size: 2em;
  }

  .bar-transparent{
    color: #0288d1;
  }

  a.text-menu{
    color: white;
  }

  .search-input{
    width: 50%;
    border: 1.2px solid #0288d1;
    border-right: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-position: 100% center;
    text-align: center;
    color: white;
  }

  .btn-search{
    background-color: #0288d1;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-position: 100% center;
    color: white;
  }

  .custom-select{
    border-top: 1px solid #0288d1;
    border-bottom: 1px solid #0288d1;
  }

  .btn-shopping-cart{
    font-size: 28px;
    color: white
  }

  /* ================= CARROUSEL WELCOME INDEX============== */

  #background-carousel{
    position: absolute;
    z-index: -1;
  }

  .bg-secondary{
    background-color: transparent !important;
  }

  /* ================= SECTION WELCOME INDEX============== */

  .container-title{
    margin-top: 5%;
  }
  .container-section{
    text-align: center
  }

  .btn-sm{
    border-radius: 0%;
  }

  .btn-info{
    background: #0288d1;
  }

  .btn-cart{
    background: #fbc02d;
  }

  #products-card{
    margin: 10px;
  }
